NEXT_PUBLIC_SITE_URL=http://localhost:3000

SAKURA_SERVICE_PRINCIPAL_RESOURCE_ID=
SAKURA_SERVICE_PRINCIPAL_KID=
SAKURA_SERVICE_PRINCIPAL_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

OBJECT_STORAGE_ISK01_ACCESS_KEY_ID=
OBJECT_STORAGE_ISK01_SECRET_ACCESS_KEY=
OBJECT_STORAGE_TKY01_ACCESS_KEY_ID=
OBJECT_STORAGE_TKY01_SECRET_ACCESS_KEY=

DOK_FLUX_IMAGE=
DOK_REALESRGAN_IMAGE=
DOK_REGISTRY=